@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    text-align: center;
    overflow-x: hidden;
}

/* Container utama */
.invitation {
    max-width: 420px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

/* Bunga atas */
.top-flowers {
    height: 120px;
    margin-bottom: 0px;
    pointer-events: none;
    user-select: none;
}

.top-flowers img {
    width: 600px;
}

/* Judul utama */
h1 {
    font-size: 3.2rem;
    margin: 0;
    font-family: "Chewy", system-ui;
}

/* Ilustrasi pasangan */
.couple-illustration {
    margin: 0;
    height: 180px;
    margin-bottom: 140px;
}

.couple-illustration img {
    width: 360px;
}

/* Nama pasangan */
.names {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Kalimat penjelasan */
.description {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 20px 20px 20px;
    line-height: 1.5rem;
    font-family: 'Indie Flower', cursive;
}

/* Info acara */
.event-info {
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: bold;
    font-family: "Chewy", system-ui;
}

.location {
    font-size: 1.4rem;
    margin-bottom: 30px;
    font-family: "Chewy", system-ui;
}

.location a {
    color: white;
}

/* Bunga kecil di bawah kiri dan kanan */
.bottom-flowers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 620px;
    margin: 0px auto;
    z-index: 1;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.4rem;
    }

    .couple-illustration {
        margin-bottom: 70px;
    }

    .names {
        font-size: 1.8rem;
    }

    .event-info {
        font-size: 1.1rem;
    }

    .location {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    .names {
        font-size: 1.6rem;
    }

    .description {
        font-size: 0.9rem;
    }

    .bottom-flowers img {
        width: 35%;
    }
}