*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hero-image{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-image img{
    height: 900px;
}